<h2>Login</h2>
<form (submit)="onLogin()">
  <div>
    <label for="username">Username:</label>
    <input type="text"
           id="username"
           [(ngModel)]="username"
           name="username"
           required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password"
           id="password"
           [(ngModel)]="password"
           name="password"
           required />
  </div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>
<p>
  Don't have an account?
  <a routerLink="/register">Sign Up</a>
</p>
<p>
  Forgot your password?
  <a routerLink="/request-password-reset">Reset Password</a>
</p>
